/****************** 
  Footer
******************/

footer {
    @include flex-center-center(column,center,center);
    width: 100%;
    height: 80px;
    background-color: rgb(44, 44, 44);

    span {
      display: block;
    }
}