/****************** 
  Variables
******************/

//Colors
$black: #000000;
$white: #ffffff;
$white-grey: #c7c7c7;
$grey: rgb(122, 122, 122);
$brown: #58402C;
$grey: #3b3b3b;
$orange: #fe775a;



//Typography
$open-sans: 'Open Sans', sans-serif;
$font-s25: 25px;


//Setup
$flex: flex;
$flex-end: flex-end;
$align-center: center;
$visibility-hidden: hidden;
$none: none;
$border-1-s-grey: 1px solid $grey;
$bottom: bottom;